@layer tokens {

  :root {
    --clr-neutral-900: #062630;
    --clr-neutral-700: #385159;
    --clr-neutral-200: #E6E1DF;
    --clr-neutral-100: #FAF5F3;
    --clr-neutral-0: #FFFFFF;
    --clr-salmon-500: #FEA36F;
    --clr-salmon-100: #FFE2D1;
    --clr-salmon-50: #FFF5EF;
    --clr-txt-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    --clr-bg-gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);

    --spacing-0: 0;
    --spacing-025: 0.125rem;
    --spacing-050: 0.25rem;
    --spacing-075: 0.375rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1000: 5rem;

    --radius-0: 0;
    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-full: 50%;

    --ff-display: 'Martian Mono', system-ui, sans-serif;
    --ff-body: 'Inter', system-ui, sans-serif;

    --fs-100: 0.875rem;
    --fs-200: clamp(1rem, .75rem + 1vw, 1.125rem);
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: clamp(1.5rem, .85rem + 2.7vw, 2.125rem);
    --fs-600: 2.125rem;
    --fs-700: clamp(2.125rem, 1.15rem + 4.15vw, 3.125rem);
    --fs-800: clamp(2.375rem, .9rem + 6.2vw, 3.875rem);
  }
}